@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --colorPrin: #262E66;
  --colorSec: #F28B66; 
  --colorLight: #f5ddd4; //f5eded
  --colorGeneral: #7c8183;
  --colorOsc: #666666;
  --highlight: #DAAE79;
  --fontTitle: 'Fira Sans', sans-serif;
  --fontGeneral: 'Poppins', sans-serif;

}
/*header*/
a{
    color: var(--colorSec);
    transition: 0.25s ease-in-out;
}

a:hover{
    color: var(--colorPrin);
    transition: 0.25s ease-in-out;
}
*{
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
}

h1, h2, h3, h4 {
    font-family: var(--fontTitle);
    font-weight: 600;
}
img.header-img {
    width:100%;
}
.btn-prin {
    color: white;
    background-color: var(--colorSec);
    border: 0;
    border-radius: 50px;
    padding: 0.8em 1.6em;
    transition: 0.5s ease-in-out;
    margin: auto;
    font-family:var(--fontGeneral);
    cursor: pointer;
  }
  .btn-prin:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--colorPrin);
    cursor: pointer;
  }
  .bg-prin{
    background-color: var(--colorPrin);
  }
  
  .app main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  body{background: white;
    background: linear-gradient(180deg, #f28b66 10%, white 50%);
    height: 100vh;
    background-repeat: no-repeat;
  }
  
  .text-justify{text-align: justify;}

.header-tit {
    font-size: 3.6em;
    font-family: var(--fontTitle);
    color: var(--colorPrin);
    line-height: 120%;
    font-weight: 600;
}
.header-tit span{
    font-weight: 600;
    font-style: italic;
    color: var(--colorPrin);
}
.header-subtitle {
    font-size: 1.1rem;
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
    // width: 68%;
    margin: 1.4em auto 0;
    text-align: justify;
}
.beige-box, .white-box {
    display: flex;
    padding: 3em;
    justify-content: center;
    background: var(--colorLight);
    box-sizing: border-box;
    height:50vh;
}

.beige-box {background: var(--colorLight);}

.white-box {flex-direction:row-reverse; background: white;}

.service-info h3 {
    font-family: var(--fontTitle);
    color: var(--colorPrin);
    font-size: 3.6em;
    text-align: left;
    margin-bottom:0.4em;
}
.service-info {
    padding: 4em;
    width: 50%;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--colorGeneral);
    font-family: var(--fontGeneral);
}
img.service-img{
    width:30%
}

/*login*/
.card-img-left {
    width: 40%;
    background: scroll center url('../img/login.png');
    background-size: cover;
    border-radius: 50px 0 0px 50px;
  }
  .login-card{
      display: flex;
      background: white;
      margin: 2em;
      border-radius: 50px;
      box-shadow: 0 0.4rem 0.8rem rgb(237,237,237);

  }

/*common pages*/

img.basic-header{width:80%;}

.basic-info {
    padding: 0 4em 4em;
    text-align: center;
}
.basic-info p {
    font-size: 1.6rem;
    font-family: var(--fontGeneral);
    color: var(--colorSec); 
}
.basic-info h3 {
    color: var(--colorPrin);
    font-family: var(--fontTitle);
    font-size: 4rem;
    padding: 0.8em;
}
.h-tot{
    height:100vh;
}
/*discover prompts*/
.prompt-genre {
    width: max-content;
    padding: 0.8em 1.6em;
    border-radius: 20px;
    font-size: 12px;
    color: var(--colorPrin);
    transition: 0.5s ease-in-out;
    border: 1px solid var(--colorPrin);
  }
  .prompt-genre:hover, .prompt-genre-hashtag:hover, .prompt-genre-character:hover {
    background: var(--colorPrin);
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  /*Discover Prompts*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(223,223, 223, 0.8);
    justify-content: center;
    align-items: center;
  }
  .modal-wmi-header{
      display: flex;
      flex-direction: column;
      background: var(--colorPrin);
      padding: 1.6rem;
      align-items: flex-start;
      border-radius: 50px 50px 0px 0px;
  }
  .modal-wmi-header h3 {
    color: white;
    font-size: 2em;
    font-family: var(--fontTitle);
}
  
  .modal-main {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    border-radius: 50px;
  }
  
  .modal-main p {
    font-size: 1rem;
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
    padding: 2.8rem;
    text-align: justify;
}
  
  .buttonFavorite, .buttonNotFavorite {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-color: var(--colorLight);
    font-family: "Font Awesome 5 Free";
    align-self:flex-end;
    margin: -10px 5px 10px;
    color: var(--colorSec);
  }
  
  .buttonNotFavorite::before {
     font-weight: 400; content: "\f005";
  }
  
  .buttonFavorite::before {
    font-weight: 900; content: "\f005";
  }
  .modal-wmi-footer {
    padding: 1.6rem;
    border-radius: 0px 0px 50px 50px;
    background: var(--colorSec);
    display: flex;
    justify-content: flex-end;
}
.modal-wmi-footer button {
    border: 0;
    background: none;
    text-decoration: none;
    color: white;
    font-family: var(--fontGeneral);
    font-size: 1em;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
  .modal-wmi-footer button:hover{
    color: var(--colorPrin);
    transition: 0.5s ease-in-out;
  }
/*discover characters*/
p.modal-wmi-subtitle {
    padding: 0.8rem 1.6rem;
    background: var(--colorLight);
    text-align: center;
    color: var(--colorPrin);
    text-transform: uppercase;
}
/*favorite prompts*/
.short-header{padding-top:20%; text-align: left; padding-bottom: 1.6rem;}

.grid-wrapper {
    columns: 2;
    column-gap: 1.5rem;
    padding: 4rem 0;
}
.prompt-card {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    box-shadow: 8px 8px 0px 0px var(--colorLight);
    border:1px solid var(--colorLight);
    border-radius: 40px;
    margin-bottom:1rem;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: white;
}
.prompt-card i{padding:0.4em;}
.prompt-card i:hover{cursor: pointer;}
.prompt-card p {
    font-family: var(--fontGeneral);
    text-align: justify;
    color: var(--colorGeneral);
}

.prompt-genre-hashtag, .prompt-genre-character {
    border: 0;
    font-size: 0.8rem;
    color: white;
    border-radius: 50px;
    padding: 0.4em 0.8em;
    width: max-content;
    align-self: flex-end;
}
  .prompt-genre-hashtag::before, .prompt-genre-character::before {content: "#"; }
  .bg-fantasy{background-color: #b48e99;}
  .bg-sci-fi, .bg-female{background-color: #8780bd;}
  .bg-dystopian{background-color: #cea88e;}
  .bg-contemporary{background-color: #81bcbd;}
  .bg-romance{background-color: #774545;}
  .bg-thriller, .bg-male{background-color: #749975;}
  .bg-mystery{background-color: #3f3f3f;}
/*favorite characters*/
.character-card {
    border: 1px solid var(--colorLight);
    margin-bottom: 2em;
    border-radius: 40px;
    flex-direction: column;
    display: flex;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
    box-shadow: 8px 8px 0px 0px var(--colorLight);
    padding:1rem;
}
.character-card-header {
    padding: 0.8rem 2rem;
    border-bottom:1px solid var(--colorLight);
    display: flex;
    flex-direction: column;
}
.character-card-header h5 {
    font-family: var(--fontTitle);
    color:var(--colorSec);
}
.character-card-body {
    padding: 2rem;
    text-align: justify;
}
/*all elements*/
input.search-box {
    border: 1px solid var(--colorLight);
    padding: 0.8rem 1.6rem;
    width: 100%;
    color: var(--colorGeneral);
    font-family: var(--fontGeneral);
    border-radius: 40px;
    transition: 0.25s ease-in-out;
}
input.search-box:focus{
    border: 5px solid var(--colorPrin);
    transition: 0.25s ease-in-out;
}
.all-elements-list-element {
    text-decoration: none;
    padding: 0.8rem 1.6rem;
    border: 1px solid var(--colorSec);
    margin: 0 0 1.6rem;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    color:var(--colorPrin);
    font-family: var(--fontGeneral);
}
.all-elements-list-element:hover{
    background: var(--colorSec);
    transition: 0.25s ease-in-out;}

/*detailed plot*/

/*add modal*/
.swal2-styled.swal2-confirm {
    border-radius: 50px !important;
    background-color: var(--colorSec) !important;
    font-family: var(--fontGeneral)!important;
}
.swal2-styled.swal2-cancel {
    border-radius: 50px!important;
    background-color: white!important;
    color: var(--colorSec)!important;
    border: 1px solid var(--colorSec)!important;
    font-family: var(--fontGeneral)!important;
}
select.swal2-select {
    border: 1px solid var(--colorLight);
    padding: 0.8rem;
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
    margin-bottom:1.2em;
}
h2.swal2-title {
    color: var(--colorPrin);
    font-family: var(--fontPrin);
    padding: 1.2em;
}

.container-add-modal {
    background: rgba(223,223, 223, 0.8)!important;
}
.popup-add-modal {
    border-radius: 50px!important;
    padding: 2em!important;
}
/*Formulario*/
.form-control:focus {
    color: var(--colorGeneral);
    border-color: var(--colorSec) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem white;
  }
  input[type="date"].form-control:focus {
    border-color: var(--colorLight)!important;
  }
  .form-control{
    color: var(--colorOsc);
    border-color: var(--colorLight) !important;
    margin: 0 0 2em;
  }
  label {
    color: var(--colorPrin);
    margin: 0.5em 0;
    font-family: var(--fontTitle);
    font-weight: 600;
    font-size: 1.1em;
    text-transform: capitalize;
}

/*detailed plot*/
.btn-prin i{
    color: white;
}
.info-container, .relationship-container  {
    background: white;
    border: 1px solid var(--colorLight);
    padding: 2.4em;
    border-radius: 50px;
    margin:1.2em 0.4em;
}
.events-container  {
    background: white;
    padding: 2.4em;
    margin:1.2em 0.4em;
}
.info-container h3, .relationship-container h3 {
    color: var(--colorPrin);
    font-family: var( --fontPrin);
}

.info-container hr {
    background: var(--colorLight);
    opacity: 1;
    margin: 2rem 0rem;
}
.info-container p {
    text-align: justify;
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
    max-height: 200px;
    overflow: auto;
}
.relationship-container-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.6em;
    border-bottom: 1px solid var(--colorLight);
    padding: 1.2em 0;
}
.relationship-container button, .timeline-info button {
    border: 0;
    background: none;
    color: var(--colorPrin);
    font-size: 1.2em;
    transition: 0.25s ease-in-out;
}
.relationship-container i{
    color: var(--colorSec);
    transition: 0.25s ease-in-out;
}
.relationship-container i:hover{
    color: var(--colorPrin);
    transition: 0.25s ease-in-out;
}

.relationship-container button:hover, .timeline-info button:hover {
    transition: 0.25s ease-in-out;
    color: var(--colorSec);
}
.relationship-container ul {
    list-style: none;
    padding: 0;
    max-height:300px;
    overflow: auto;
}

.relationship-container ul li {
    padding: 1.2em 0.8em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.4rem 0.8rem rgb(237,237,237);
    transition: 0.25s ease-in-out;
    margin:0.4em 0;
    align-items: center;
}
.relationship-container ul li:hover {
    background-color: var(--colorLight);
    transition: 0.25s ease-in-out;
}

.relationship-container ul li a {
    text-decoration: none;
    color: var(--colorSec);
    font-family: var(--fontGeneral);
    transition: 0.25s ease-in-out;
}
.relationship-container ul li a:hover{
    color:var(--colorPrin);
    transition: 0.25s ease-in-out;
}
.deatailed-info-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.detailed-header{padding-top:40%; text-align: left; padding-bottom: 1.6rem;}

ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

ul.timeline:before {
    content: ' ';
    background: var(--colorLight);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    // z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 1.2rem 0.4rem;
    display: flex;
}
.timeline-info {
    flex-grow: 1;
    border: 1px solid var(--colorLight);
    margin-left: 0.2em;
    padding: 1.6em;
    border-radius: 0 50px;
    box-shadow: 0 0.4rem 0.8rem #ededed;
    display: flex;
    align-items: center;
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
}
.timeline-info h3 {
    color: var(--colorPrin);
    font-family: var(--fontTitle);
    font-size: 1.2rem;
    font-weight: 600;
}
.timeline-info span{
    color: var(--colorSec);
    margin: 10px 0;
}
.timeline-info p {
    padding: 1.2rem 1.2rem 1.2rem 0;
    max-height: 120px;
    overflow: auto;
    text-align: justify;
}

.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 1.7rem;
}

li.timeline-item::before {
    content: ' ';
    background: var(--colorPrin);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    // z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/*detailed character*/
.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-tag {
    border: 1px solid var(--colorLight);
    padding: 0.4em 1.6em;
    border-radius: 50px;
    color: var(--colorGeneral);
    font-family: var(--fontGeneral);
    margin: 0.8em;
    width: 46%;
    box-sizing: border-box;
}
.info-tag span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--colorLight);
    color: var(--colorPrin);
    padding: 0.4em;
    margin-bottom: 0.8em;
}
.tag-container-soc {
    background: white;
    border: 1px solid var(--colorLight);
    padding: 2.4em;
    border-radius: 50px;
    margin: 1.2em 0.4em;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-tag-soc {
    padding: 1.2em 0.4em;
    display: flex;
    justify-content: space-between;
    font-family: var(--fontGeneral);
    color: var(--colorGeneral);
    border-bottom: 1px solid var(--colorLight);
}
.info-tag-soc span {
    color: var(--colorPrin);
    text-transform: capitalize;
}



@media (max-width: 768px) {
/*header*/
.basic-gradient {margin-top: 78px;}
.header-tit{font-size: 2rem;margin-top: 30%;}
img.header-img {width:80%;margin:20px auto;}
.beige-box{ flex-direction:column; height: 100%;}
.white-box{flex-direction: column;height: 100%;}
.service-info{padding: 0; width:100%;}
.full-screen{height: auto;}
.service-info h3 {font-size: 2rem; padding: 0.8em 0;}
img.service-img{width:100%;}
/*common pages*/
.basic-info p {padding: 1.6em 0 0;}
.basic-info h3 {
    padding: 0.4px;
    font-size: 2rem;
}
/*Modal*/
.modal-main p {padding: 1.6rem;}
.modal-wmi-header h3 {font-size: 1.2em;}
.modal-wmi-header {
    padding: 0.8rem;
    border-radius: 30px 30px 0px 0px;
}
.modal-wmi-footer {border-radius: 0px 0px 30px 30px;}
.buttonFavorite, .buttonNotFavorite{margin: -10px 5px 10px}
.modal-main {width: 95%}
.modal{padding: 5rem 0 0 0;}
p.modal-wmi-subtitle {padding: 0.4rem;}
/*Favorite prompts*/
.grid-wrapper {
    columns: 1; padding:1em;
}
/*favorite characters*/
.character-card-body, .character-card-header {
    padding:1em;
}
}

