@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --colorPrin: #262E66;
  --colorSec: #F28B66; 
  --colorLight: #f5eded;
  --colorGeneral: #90989c;
  --colorOsc: #666666;
  --highlight: #DAAE79;
  --fontTitle: 'Fira Sans', sans-serif;
  --fontGeneral: 'Poppins', sans-serif;

}
/*LO QUE SE QUEDA*/
.btn-prin {
  color: white;
  background-color: var(--colorSec);
  border: 0;
  border-radius: 50px;
  padding: 0.8em 1.6em;
  transition: 0.5s ease-in-out;
  margin: auto;
  font-family:var(--fontGeneral);
  cursor: pointer;
}
.btn-prin:hover {
  transition: 0.5s ease-in-out;
  background-color: var(--colorPrin);
  cursor: pointer;
}
.bg-prin{
  background-color: var(--colorPrin);
}


/*Main y Navbar*/
// .app{
//     display: flex;
//     position: relative;
//     height: 100vh;
//     align-items:stretch;
// }
// body{
//   background: rgb(242,139,102);
//   background: linear-gradient(180deg, rgba(242,139,102,1) 0%, rgba(255,255,255,1) 68%);
// }
.app main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
body{background: white;
  background: linear-gradient(180deg, #f28b66 10%, white 50%);
  height: 100vh;
  background-repeat: no-repeat;
}
// .app .btn-toggle {
//   cursor: pointer;
//   width: 35px;
//   height: 35px;
//   background: #353535;
//   color: #fff;
//   text-align: center;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 15px;
//   display: none;
//   margin:10px;
// }
// @media (max-width: 768px){
// .app {
//     overflow-x: hidden;
//     height: 100%;
// }
// .app .btn-toggle {
//     display: flex;
// }
// }
/*General*/
// body {
//     color: var(--colorOsc);
//     background: #fff;
// }
.text-justify{text-align: justify;}
// .tot-height{
//     min-height: 100vh;
// }
// .font-prin{
//   font-family: 'Merriweather', serif;
// }
// .font-sec{
//   font-family: 'Fira Sans', sans-serif;
// }

// .bg-black{
//       background: #000;
// }
// .bg-sec{
//   background: var(--colorSec);
// }
// .text-black{
//   color: #000;
// }
// .border-black{
//   border: 1px solid #000;
// }
// .box-shadow-sec{
//   box-shadow: 10px 10px 0px var(--colorSec);
// }
// .text-prin{
//   color: var(--colorPrin);
// }
// .text-dark {
//   color: var(--colorOsc);
// }
// .text-cuar{
//   color: var(--colorCuar);
// }

// .hr-prin {
//     margin-top: 0.5rem;
//     margin-bottom: 0.5rem;
//     border: 0;
//     width: 100%;
//     border-top: 1px solid var(--colorPrin);
// }
//   .h-38{
//     height: 18rem;
//   }

// .bg-gradiente {
//   background: rgb(242,139,102);
// background: linear-gradient(180deg, var(--colorSec) 0%, rgba(255,255,255,1) 78%);
// }

/* Required for full background image */
// html,
// body,
// .view {
//     height: 100%;
// }
// .view{
//     background-image: url(../img/maquina.jpeg); 
//     background-repeat: no-repeat; 
//     background-size: cover; 
//     background-position: center center;

// }



/*Favorite Prompts*/
// .prompt-genre {
//   width: max-content;
//   padding: 8px;
//   border-radius: 20px;
//   font-size: 12px;
//   color: var(--colorOsc);
//   transition: 0.5s ease-in-out;
//   border: 1px solid var(--colorPrin);
// }
// .prompt-genre:hover {
//   background: #8d7364!important;
//   transition: 0.5s ease-in-out;
//   cursor: pointer;
// }



/*login*/
.card-img-left {
  width: 45%;
  background: scroll center url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
}
/*Form*/

// .form-floating label {
//   color: var(--colorPrin);
// }
// .password-type {
//   display: flex;
//   justify-content: stretch;
//   align-items: center;
//   margin-bottom:1rem; 
//   border-bottom: 1px solid var(--colorGray);
//   border-radius: 5px;
// }

.card-img-top {
  height: 30vh;
  background: scroll center url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
}
.discover-prompt-image {
  padding: 25px;
  background: scroll center url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
}
/*Create plot and characters*/
.card-img-left-create {
  width: 20%;
  background: var(--colorCuar);
  background-size: cover;
}
textarea.form-control{
  height:10vh;
}
/*progress bar*/


/*vertical track*/
.create-character-form label {
  color: var(--colorTer);
  font-weight: 700;
  padding: 5px;
  letter-spacing: 0.4px;
}

.track {
  background-color: var(--colorGray);
  width: 4px;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0px 0px 0px -18px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}
.track .text {
  display: block;
  margin-top: 15px;
  width: 70px;
  font-size: 0.7rem;
}
.track .step.active .text {
  font-weight: 400;
  color: var(--colorGray);
}

.track .step::before {
  width: 4px;
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: 18px;
}
.track .step.active .icon {
  background: var(--colorPrin);
  color: #fff
}
.track .step.active:before {
  background: var(--colorPrin);
}

.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd
}

/*Responsive*/

// @media (max-width: 799px) {
//   // html,
//   // body,
//   // .view {
//   //   height: 1000px;
//   // }
//   .modal-main {width: 90%}
//   // .logo-nav {margin-bottom: 0px; }

// }